.side-navigation {
  background-color: #fff;
  width: 250px;
  height: 100vh;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo span {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.logo.active {
  background-color: skyblue;
  color: #fff;
}

  